body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between; /* Mueve left-cover a la izquierda y right-container a la derecha */
    align-items: center; /* Alinea verticalmente */
    width: 1280px;
    height: 100vh;
}

.left-cover {
    width: 600px; 
    height: 1000px; 
    background-image: url(assets/dog.jpg); 
    background-size: cover; 
    background-position: 80%; /* Esto es para desplazar un poco la img */
}

.right-container {
    background-color: #F8ECEC;
    height: 1000px;  
    flex-grow: 1; /* Se expandirá ocupando el espacio disponible */
}  

.title {
    font-family: 'poppins';
    color: #30977F;
    font-size: 45px;
    text-align: center;
    margin-top: 40px;
}

.description {
    font-family: 'poppins';
    color: white;
    text-align: center;
    font-size: 28px;
    margin-top: -30px;
}

.form-title {
    font-family: 'poppins';
    font-weight: 500;
    color: #30977F;
}