body {
  background-image: url(assets/background-1.jpg);
  background-size: cover;
  margin: 0px;
  font-family: "poppins";
}

.main-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(46, 84, 76, 0.6);
}

.container {
  display: flex;
  width: 1280px;
  height: 950px;
  /* TODO: Revisar responsive altura y border */
  border: 1px solid red;
  border-radius: 5px;
}

.left-cover {
  width: 600px;
  background-image: url(assets/dog.jpg);
  background-size: cover;
  background-position: 80%; /* Esto es para desplazar un poco la img */
}

.right-container {
  background-color: #f8ecec;
  flex-grow: 1; /* Se expandirá ocupando el espacio disponible */
  padding: 25px 40px 5px 40px;
}

.title {
  color: #30977f;
  font-size: 45px;
  text-align: center;
}

.description {
  color: white;
  text-align: center;
  font-size: 28px;
}

.form-title {
  font-weight: 500;
  font-size: 20pt;
  color: #30977f;
}

.form-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  height: 35px;
  font-size: medium;
  border: none;
}

.first-line-pet {
  display: flex;
  flex-direction: column;
}

.form-group input::placeholder {
  opacity: 40%;
  padding-left: 10px;
}

.upload-container {
  display: flex;
  align-items: center;
}

.upload-photo {
  display: flex;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-photo img {
  width: 25px;
  height: 25px;
}

.upload-input {
  display: none;
}
